.profileCard {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    height: 300px;
    width: 80%;
    position: relative;
    top: 20vh;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    border: 2px solid #fff;
    box-shadow: 0 1px 4px 0px rgba(0,0,0,.05);
    font-weight: 700;
    z-index: 2;
}

.profile {
    width: 100%;
    background: none;
    height: 150px;
}

.profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-right: 25px;
    top: 1.25em;
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 100;
}

.profileBtn {
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 283px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    bottom: 1.25em;
    left: 25%;
}

.profileBtn:hover {
    background-color: #f5f7f9;
}

.border {
    width: 96px;
    height: 96px;
    border-radius: 49px;
    z-index: 99;
    background: #444;
    position: relative;
    display: block;
    top: -73px;
    margin: 0 auto;
}

.profileName {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top:-12%;
    font-size: 1.1em;
}