.container {
    composes: profileCard from "./Profile.css";
    text-align: center;
}

.iconContainer {
    display: block;
    height: 300px;
    overflow: scroll;
    border: 1px solid #fff;
    border-radius: 5px;
}

.userIcon {
    width: 128px;
    height: 128px;
}

.userIconSelected {
    composes: userIcon;
    border-radius: 100px;
    border: 2px solid #fff;
}