.profileCard {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    height: 300px;
    width: 80%;
    position: relative;
    top: 20vh;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    border: 2px solid #fff;
    box-shadow: 0 1px 4px 0px rgba(0,0,0,.05);
    font-weight: 700;
    z-index: 2;
    height: auto;
    padding: 20px;
}

.profile {
    width: 100%;
    background: none;
    height: 150px;
}

.profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-right: 25px;
    top: 1.25em;
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 100;
}

.border {
    width: 96px;
    height: 96px;
    border-radius: 49px;
    z-index: 99;
    background: #444;
    position: relative;
    display: block;
    top: -73px;
    margin: 0 auto;
}

.profileName {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 16%;
    font-size: 1.1em;
}